<instruction>
    ソースコードを必ず生成してください。
    <note>
        ソースコードは常に完全なコードを生成して下さい。
    </note>
    <note>
        ソースコード更新において一部分だけを生成するのは禁止です。
    </note>
    <note>
        生成したソースコードは必ずパス・ファイル名を記載してください。
    </note>
    <note>
        200行を越える大きなサイズのソースコードは、ファイルを分割してください。
    </note>
</instruction>
