<section type='instructions'>
{%- filter indent %}
{%- if section == 'system' %}
{%- block system_instructions %}
{% include 'includes/instructions/system/common.j2' %}
{%- endblock %}
{%- elif section == 'user' %}
{%- block user_instructions %}
{%- endblock %}
{%- endif %}
{%- endfilter %}
</section>
