{%- extends 'prompt_template_base.j2' %}

{#- system instructions #}
{%- block system_instructions %}
{%- if task_type == '製品・サービスの開発' or task_type == 'コードの生成' %}
{%- if task_type == '製品・サービスの開発' %}
{% include 'includes/instructions/system/product_development.j2' %}
{%- endif %}
{% include 'includes/instructions/system/product_development_and_generate_code.j2' %}
{%- else %}
{%- endif %}
{%- if instructions.system %}
{%- for instruction in instructions.system %}
{% include 'includes/instructions/custom_instruction.j2' %}
{%- endfor %}
{%- endif %}
{{- super() }}
{%- endblock %}

{#- user instructions #}
{%- block user_instructions %}
{%- if instructions.user %}
{%- for instruction in instructions.user %}
{% include 'includes/instructions/custom_instruction.j2' %}
{%- endfor %}
{%- endif %}
{{- super() }}
{%- endblock %}
