{# system prompt #}
<prompt type="system">
{%- filter indent %}
{%- if not role == '' and role %}
{% include 'includes/role.j2' %}
{%- endif %}
{%- if not task_type == '' and task_type %}
{% include 'includes/purpose.j2' %}
{%- endif %}
{%- endfilter %}
</prompt>

{# user prompt #}
<prompt type="user">
    <section type="instructions">
        {%- block user_instructions %}
        {%- endblock %}
    </section>
</prompt>
