{# system prompt #}
<prompt type="system">
{%- if not role == '' and role %}
{%- filter indent %}
{% include 'includes/role.j2' %}
{%- endfilter %}
{%- endif %}
{%- if not task_type == '' and task_type %}
{%- filter indent %}
{% include 'includes/purpose.j2' %}
{%- endfilter %}
{%- endif %}
    <section type="instructions">
    {%- filter indent %}
    {% include 'includes/base_instruction.j2' %}
    {%- endfilter %}
    {%- block system_instructions %}
    {%- endblock %}
    </section>
</prompt>

{# user prompt #}
<prompt type="user">
    <section type="instructions">
        {%- block user_instructions %}
        {%- endblock %}
    </section>
</prompt>
